<footer class="page-footer" style="height: 225px;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Life Hacks</h5>
        <p class="grey-text text-lighten-4">Thank you for visiting our site! We hope you found it useful. Please contact us with ideas for improvement. We'd love to hear from you!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">admin@lifehacks.com</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">careers@lifehacks.com</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">help@lifehacks.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
