{% extends "main/header.html" %}

{% block content %}

    <!-- Experiment to pass extra_context. It works! -->
    <!--
    {% for i in extra %}
        <p>{{ i }}</p>
    {% endfor %}
    -->

    {% if query %}
        <h4 style="color: silver; text-align: center;">Results for: <strong>{{ query }}</strong></h4>
        <br>
        
        <!-- Collapsible - START -->
        <ul class="collapsible">
            {% for result in page.object_list %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">expand_more</i><a href="{{ result.object.get_absolute_url }}">{{ result.object.hack_title }}</a></div>
                    <div class="collapsible-body"><span>{{ result.object.hack_content | safe }}</span></div>
                </li>
            {% empty %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">mood_bad</i><div>NO RESULTS!</div></div>
                </li>
            {% endfor %}
        </ul>
        <!-- Collapsible - END -->
        
        <br>
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
            <br>
        {% endif %}
        
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
        
        
    {% endif %}
        

    
{% endblock %}